@import '../../../styles/layout.scss';
@import '../../../styles/font.scss';
@import '../../../styles/colors.scss';

.logo {
  position: relative;
  height: $header-height;
  
  .link {
    height: 100%;
    display: flex;
    align-items: center;

    .title {
      font-family: $pony-font-family;
      font-size: 36px;
      line-height: 1.2;
      color: $brand-color;
    }
  
    .preview {
      height: 100%;
      display: block;
      padding-left: 20px;
      object-fit: cover;
    }
  }
}